/* Section 2 Start =================== */

/* Wrapper */
.customization-s2-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f9f8f4;
  margin: 0;
  padding: 0;
  margin-top: -5vh;
}

/* Container */
.customization-s2-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f9f8f4;
}

/* Inner Flex */
.customization-s2-inner {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f9f8f4;
}

/* Left Image */
.customization-s2-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customization-s2-image {
  height: 80vh;
  max-width: 100%;
  object-fit: contain;
}

/* Right Content */
.customization-s2-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  gap: 3vh;
  padding-left: 2%;
}

.customization-s2-title {
  font-size: 3vh;
  font-family: serif;
  color: #b88649;
}

.customization-s2-heading {
  font-size: 5vh;
  font-family: serif;
  color: #222C63;
  margin-top: 1vh;
  font-weight: bold;
}

.customization-s2-divider {
  height: 4vh;
  width: 15%;
  margin: 2vh 0;
}

.customization-s2-paragraph {
  font-size: 2.8vh;
  font-family: serif;
  color: black;
  line-height: 1.6;
  transition: all 0.3s ease;
  text-align: justify;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .customization-s2-container,
  .customization-s2-inner {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 5%;
  }

  .customization-s2-heading {
    font-size: 4vh;
    margin-bottom: 1vh;
  }

  .customization-s2-paragraph {
    font-size: 2.4vh;
  }

  .customization-s2-divider {
    height: 3vh;
    width: 70px;
    margin: 3vh 0;
  }

  .customization-s2-image {
    max-width: 100%;
    height: auto;
  }

  /* .customization-s2-inner {
    flex-direction: column;
  } */

  .customization-s2-left {
    order: 2; /* move image after text */
  }

  .customization-s2-right {
    order: 1; /* move text before image */
  }



}

@media (max-width: 600px) {
  .customization-s2-heading {
    font-size: 3.2vh;
  }

  .customization-s2-paragraph {
    font-size: 2.2vh;
  }
}

@media (min-width: 1025px) {
  .customization-s2-inner {
    flex-direction: row;
    height: 100vh;
  }

  .customization-s2-right {
    text-align: left;
  }
}
