.homebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #2e2a47;
  color: #fff;
}

.home-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
}

.navbar-logo {
  height: 140px;
}

.home-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.quote-button {
  background-color: #b88649;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.quote-button:hover {
  background-color: #a3743e;
}

.auth-links {
  margin-left: 20px;
  cursor: pointer;
}
